.dashboard__header {
  margin-bottom: 1.5rem;
}

.dashboard__greeting {
  margin: 0.25rem 0 0;
  font-size: 1rem;
  color: #475569;
}

.dashboard__rol {
  margin: 0.25rem 0 0;
  font-size: 0.85rem;
  color: #64748b;
}
